<div class="container">
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="row col-sm-5">
        <h3 class="title">User Registration</h3>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" autocomplete="off" formControlName="email">
          <span class="help-block" *ngIf="registerForm.get('email').hasError('reqired')"></span>
          <span class="help-block" *ngIf="registerForm.get('email').hasError('email')">
            Hey! Enter a valid Email ID..
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" autocomplete="on"
            formControlName="password">
          <span class="help-block" *ngIf="registerForm.get('password').hasError('reqired')"></span>
          <span class="help-block" *ngIf="registerForm.get('password').hasError('minlength')">
            Hey! Password must be atleast 6 char long..</span>
        </div>
        <button type="password" class="btn btn-success" [disabled]="!registerForm.valid" (click)="onRegister()">
          Register</button>
      </div>
    </div>
  </form>
</div>
